/* 
** The Header Media Queries **
** Tweak as per your needs **
*/
.brand {
    font-weight: bold;
    font-family: "Times New Roman", Times, serif;
    font-size: 20px; }
  
  .site-header {
    position: fixed;/* fixed */
    background-color: #0b3d91;/* 0b3d91 */
    /* background: linear-gradient(90deg, #000 50%, #fff	 50%); */
    top: 0; 
    width: 100%;
    z-index: 1;
  }

  .site-footer {
    position: relative;
    background-color: #132e5e;
    bottom: 0%;
    width: 100%;
    /* clear: both; */
    /* height: 400px; */
    /* margin-top:100%; */
  }
    
  .site-header__wrapper {
    padding-top: 1rem;
    padding-bottom: 1rem; }
    @media (min-width: 600px) {
      .site-header__wrapper {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding-top: 0;
        padding-bottom: 0; } }
  @media (min-width: 600px) {
    .nav__wrapper {
      display: flex; } }
  
  @media (max-width: 599px) {
    .nav__wrapper {
      position: absolute;
      top: 100%;
      right: 0;
      left: 0;
      z-index: -1;
      background-color: #6caec3;
      visibility: hidden;
      opacity: 0;
      transform: translateY(-100%);
      transition: transform 0.3s ease-out, opacity 0.3s ease-out; }
      .nav__wrapper.active {
        visibility: visible;
        opacity: 1;
        transform: translateY(0); } }
  
  .nav__item a {
    display: block;
    padding: 1.5rem 1rem; }

  .nav__toggle {
    display: none; }
    @media (max-width: 599px) {
      .nav__toggle {
        display: block;
        position: absolute;
        right: 1rem;
        top: 1rem; } }
  .topnav .search-container {
  float: right;
}

/* Style the input field inside the navbar */
.topnav input[type=text] {
  padding: 6px;
  margin-top: 8px;
  font-size: 17px;
  border: none;
}

/* Style the button inside the input container */
.topnav .search-container button {
  float: right;
  padding: 6px;
  margin-top: 8px;
  margin-right: 16px;
  background: #ddd;
  font-size: 17px;
  border: none;
  cursor: pointer;
}

.topnav .search-container button:hover {
  background: #ccc;
}

/* Add responsiveness - On small screens, display the navbar vertically instead of horizontally */
@media screen and (max-width: 600px) {
  .topnav .search-container {
    float: none;
  }
  .topnav a, .topnav input[type=text], .topnav .search-container button {
    float: none;
    display: block;
    text-align: left;
    width: 100%;
    margin: 0;
    padding: 14px;
  }
  .topnav input[type=text] {
    border: 1px solid #ccc;
  }
}


