@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap");
.wrapper {
  max-width: 1140px;
  padding-left: 1rem;
  padding-right: 1rem;
  margin-left: auto;
  margin-right: auto;
}

*,
*:before,
*:after {
  box-sizing: border-box;
}

a {
  text-decoration: none;
  color: rgb(255, 255, 255);
}

html {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  font-family: "Roboto", sans-serif;
}

.sr-only {
  position: absolute;
  clip: rect(1px, 1px, 1px, 1px);
  padding: 0;
  border: 0;
  height: 1px;
  width: 1px;
  overflow: hidden;
}

.button {
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  color: #fff;
  background-color: #2fa0f6;
  min-width: 120px;
  padding: 0.5rem 1rem;
  border-radius: 5px;
  text-align: center;
}

.button svg {
  display: inline-block;
  vertical-align: middle;
  width: 24px;
  height: 24px;
  fill: #fff;
}

.button span {
  display: none;
}

@media (min-width: 600px) {
  .button span {
    display: initial;
  }
}

.button--icon {
  min-width: initial;
  padding: 0.5rem;
}
input[type=text], select, textarea {
  width: 90%; /* Full width */
  padding: 12px; /* Some padding */ 
  border: 1px solid #ccc; /* Gray border */
  border-radius: 4px; /* Rounded borders */
  box-sizing: border-box; /* Make sure that padding and width stays in place */
  margin-top: 6px; /* Add a top margin */
  margin-bottom: 16px; /* Bottom margin */
  resize: vertical /* Allow the user to vertically resize the textarea (not horizontally) */
}
input[type=password], select, textarea {
  width: 50%; /* Full width */
  padding: 12px; /* Some padding */ 
  border: 1px solid #ccc; /* Gray border */
  border-radius: 4px; /* Rounded borders */
  box-sizing: border-box; /* Make sure that padding and width stays in place */
  margin-top: 6px; /* Add a top margin */
  margin-bottom: 16px; /* Bottom margin */
  resize: vertical /* Allow the user to vertically resize the textarea (not horizontally) */
}
input[type=email], select, textarea {
  width: 50%; /* Full width */
  padding: 12px; /* Some padding */ 
  border: 1px solid #ccc; /* Gray border */
  border-radius: 4px; /* Rounded borders */
  box-sizing: border-box; /* Make sure that padding and width stays in place */
  margin-top: 6px; /* Add a top margin */
  margin-bottom: 16px; /* Bottom margin */
  resize: vertical /* Allow the user to vertically resize the textarea (not horizontally) */
}
input[type=Longtext], select, textarea {
  width: 90%; /* Full width */
  height: max-content;
  padding: 12px; /* Some padding */ 
  border: 1px solid #ccc; /* Gray border */
  border-radius: 4px; /* Rounded borders */
  box-sizing: border-box; /* Make sure that padding and width stays in place */
  margin-top: 6px; /* Add a top margin */
  margin-bottom: 16px; /* Bottom margin */
  resize: vertical /* Allow the user to vertically resize the textarea (not horizontally) */
}

/* Style the submit button with a specific background color etc */
input[type=submit] {
  background-color: #07446a	;
  color: white;
  padding: 12px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

/* When moving the mouse over the submit button, add a darker green color */
input[type=submit]:hover {
  background-color: #286bc8;
}

/* Add a background color and some padding around the form */
.container {
  border-radius: 5px;
  background-color: #f0f5fb;/*f0f5fb*/
  padding: 20px;
}
.containerbut {
  border-radius: 5px;
  background-color: #fefefe;/*f0f5fb*/
  padding: 20px;
  
}

#footer { 
  width: 900px;
  color: #333;
  border: 1px solid #ccc;
  background: #BD9C8C;
  margin: 0px 0px 10px 0px;
  padding: 10px;



 }
 
 @import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");

/* body {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0;
  background-color: #f7f8fc;
  font-family: "Roboto", sans-serif;
  color: #10182f;
} */
.container_n {
  display: flex;
  width: 100%;
  justify-content: space-evenly;
  flex-wrap: wrap;
}
.card {
  margin: 20px;
  background-color: #fff;
  border-radius: 20px;
  box-shadow: 0 2px 20px rgba(0, 0, 0, 0.2);
  overflow: hidden;
  width: 800px;
  height:720px;
}
.card-header img {
  width: 100%;
  height: 600px;
  object-fit: cover;
}
.card-body_n {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  padding: 20px;
  min-height: 250px;
}

.tag {
  background: #cccccc;
  border-radius: 50px;
  font-size: 12px;
  margin: 0;
  color: #fff;
  padding: 2px 10px;
  text-transform: uppercase;
  cursor: pointer;
}
.tag-teal {
  background-color: #47bcd4;
}
.tag-purple {
  background-color: #5e76bf;
}
.tag-pink {
  background-color: #cd5b9f;
}

.card-body_n p {
  font-size: 13px;
  margin: 0 0 2340px;
}
.user {
  display: flex;
  margin-top: auto;
}

.user img {
  border-radius: 50%;
  width: 40px;
  height: 40px;
  margin-right: 10px;
}
.user-info h5 {
  margin-left: 20px;
  /* margin-left:auto;
  margin-right: 50%;
  width: 100%; */
}
.user-info-right h5 {
  margin-left: 200px;
  /* margin-left:auto;
  margin-right: 50%;
  width: 100%; */
}
.user-info small {
  color: #545d7a;
  margin-left: 20px;
}

.container_s {
  background-color: #fff;/*f0f5fb*/
  box-shadow: 0 2px 20px rgba(0, 0, 0, 0.2);
  overflow: hidden;
  padding-top: 50px;
  padding-bottom: 50px;
  padding-left: 300px;
  /* display: flex; */
  width: 100%;
  justify-content: center;
  
  /* flex-wrap: wrap; */
}
.subject {
  font-weight: bold;
  font-family: "Times New Roman", Times, serif;
  font-size: 20px; 
  padding-bottom:10px;
}
.count {
  font-weight: bold;

  margin: auto;
  width: 50%;
  font-size: 40px;
  /* border-b: 3px solid rgb(32, 11, 134); */
  padding: 10px;
  text-align: center;

}
.countt {
  font-weight: bold;
  /* horizental-align: middle; */
  margin: auto;
  padding-left: 41.8%;
  /* gap: 1px;  */
  /* width: 10%; */

  display: flex;
  font-size: 40px;
  /* border-b: 3px solid rgb(32, 11, 134); */
  /* padding: 10px; */
  text-align: center;

}
.counttt {
  font-weight: bold;

  /* width: 50%; */
  font-size: 40px;
  /* border-b: 3px solid rgb(32, 11, 134); */
  padding: 10px;
  text-align: right;

}
.image{
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
  /* width:"800";
  height: "auto"; */
}
.container_l {
  border-radius: 5px;
  background-color: #f0f5fb;/*f0f5fb*/
  padding: 10px;
}

.container_lns {
  border-radius: 5px;
  background-color: #fff;/*f0f5fb*/
  padding-left: 45%;
  padding-top:5px;
  padding-bottom:5px;

}
.container_lnss {
  border-radius: 5px;
  background-color: #fff;/*f0f5fb*/
  padding-left: 45%;
  padding-top:5px;
  padding-bottom:5px;
  font-weight: bold;
  font-family: "Times New Roman", Times, serif;
  font-size: 20px; 
}
